@import "tailwindcss";

:root {
  --primary: #ff9112;
  --secondary: #f36100;
  --info: #ffd900;
  --background: #524238;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0a0a0a;
    --secondary: #ededed;
    --info: #ffd900;
    --background: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
